body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/backgrounds.jpg');
  background-color:rgb(38, 2, 2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


.auth-container {
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error-message {
  color: rgb(0, 255, 85);
  font-size: 14px;
  margin-top: 10px;
}


.intro-message {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing between intro message and form */
}

.intro-message h1 {
  font-size: 2rem;
  color:  #FFFF00; /* Adjust color to match your design */
}

.intro-message p {
  margin-top: 5px;
  font-size: 1.5rem;
  color:#f7f4f4; /* Adjust color to match your design */
}

.auth-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 100%;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 0.5em;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
