body {
  background-image: url('./assets/backgrounds.jpg'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

input {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 100%;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 0.5em;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}
